@media screen and (max-width: 683px) {
    #my-projects {
        scroll-margin-top: 95px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    color: var(--color-primary);
}

.pagination * {
    color: var(--color-primary);
    border-color: var(--color-primary);
    outline: none;
}

.projects-bottom-svg {
    margin-bottom: -1px;
}