#myBtn {
    position: fixed;
    bottom: 50px;
    right: 5px;
    z-index: 99999;
    border: none;
    outline: none;
    background-color: #990000;
    color: #ffffff;
    cursor: pointer;
    height: 50px;
    width: 50px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    display: flex;
}

.fa {
    font-size: 25px !important;
}

#myBtn:active {
    background-color: #ffffff;
    color: #990000;
    border: 1px solid;
    border-color: #990000;
}