#myBtn {
    position: fixed;
    bottom: 50px;
    right: 5px;
    z-index: 99999;
    outline: none;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    cursor: pointer;
    height: 50px;
    width: 50px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    display: flex;
    border: 1px solid;
    border-color: var(--color-primary);
}

.fa {
    font-size: 25px !important;
}

#myBtn:active {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.progress-container {
    background-color: var(--color-secondary);
    height: 10px;
    width: 100%;
}

.progressBar {
    background-color: var(--color-primary);
    height: 10px;
    width: 0%;
}