.profile {
    align-items: center;
    padding-top: 10vw;
    padding-bottom: 5vw;
    margin-top: 0px;
    background-color: var(--color-secondary);
}

.profile h2,
h3 {
    color: var(--color-primary);
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

.profile h2 {
    width: 100%;
}

.profile h3 {
    width: 80%;
    margin-top: 30px;
}

.profile h2 {
    font-weight: bold;
    font-size: 60px;
}

.profile h3 {
    font-weight: 300;
    font-size: 32px;
}

.profile-btntext {
    color: var(--color-secondary);
}

.profile-btn {
    background-color: var(--color-primary);
    padding: 15px;
    display: block;
    margin: auto;
    width: 200px;
    margin-top: 30px;
    border-radius: 5px;
    color: var(--color-secondary);
}

.profile-btn:hover {
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.svg {
    margin-top: -1px;
}

@media screen and (max-width: 700px) {
    .profile h2,
    h3 {
        width: 100%;
    }
}

@media screen and (max-width: 683px) {
    #my-projects {
        scroll-margin-top: 95px;
    }
}

@media screen and (max-width: 500px) {
    #my-projects {
        scroll-margin-top: 55px;
    }
    .profile h2 {
        font-size: 40px;
    }
    .profile h3 {
        font-size: 20px;
    }
    .profile {
        padding-top: 20vw;
        padding-bottom: 10vw;
    }
    .profile-btn {
        padding: 10px;
        width: 180px;
    }
    .profile h2 {
        width: 90%
    }
    .profile h3 {
        width: 90%;
    }
}