.work-tab {
    border: 5px solid;
    border-color: var(--color-secondary);
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-weight: bold;
    border-radius: 20px;
    min-height: 350px;
}

ul {
    font-size: 20px;
    font-weight: 300;
}

.work-tab h4,
h5 {
    text-align: center;
    color: var(--color-primary);
}

.work-tab h4 {
    font-weight: 600;
}

.work-tab h5 {
    font-weight: 400;
    font-size: 22px;
}

@media screen and (max-width: 991px) {
    .work-tab {
        width: 80%;
        min-height: 0;
    }
}

@media screen and (max-width: 500px) {
    .work-tab h4 {
        font-size: 20px;
        max-width: 90%;
        margin: 0 auto;
    }
    .work-tab h5 {
        font-size: 18px;
    }
    .work-tab {
        width: 90%;
        min-height: 0;
    }
    ul {
        font-size: 16px;
    }
}