.work-tab {
    border: 5px solid;
    border-color: var(--color-secondary);
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-weight: bold;
    border-radius: 20px;
    min-height: 350px;
}

.resp-list {
    list-style-type: none;
}

.resp-list li:before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-size: 10px;
    background-image: url("http://www.freepngimg.com/thumb/star/1-red-star-png-image-thumb.png");
    background-repeat: no-repeat;
    margin-right: 10px;
}

.work-tab h4,
h5 {
    text-align: center;
    color: var(--color-primary);
}

@media screen and (max-width: 991px) {
    .work-tab {
        width: 80%;
        min-height: 0;
    }
}

@media screen and (max-width: 500px) {
    .work-tab h4 {
        font-size: 1.3rem;
    }
    .work-tab h5 {
        font-size: 1.1rem;
    }
    .profile h2 {
        font-size: 1.5rem;
    }
    .work-tab {
        width: 90%;
        min-height: 0;
    }
}