.title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    padding-top: 10px;
    font-size: 2rem;
}

.title h2 {
    color: var(--color-primary);
}

.title-inverted h2 {
    color: white !important;
}

.title-bottom {
    background-color: var(--color-primary) !important;
    height: 5px;
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
}

.title-bottom-inverted {
    background-color: var(--color-secondary) !important;
}

@media screen and (max-width: 500px) {
    .title h2 {
        font-size: 1.6rem;
    }
}