.my-card {
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

.card-body {
    text-align: center !important;
    color: var(--color-primary) !important;
}

.card-body h5 {
    color: var(--color-primary) !important;
}

.card-body h6 {
    color: var(--color-primary) !important;
}

.card-body a span {
    color: #ffffff;
}

.card-img-top {
    border-bottom: 5px solid var(--color-primary);
}

.card-body a {
    background-color: var(--color-primary);
}

.card-body a.btn:hover {
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--color-primary);
}

.card-body a.btn:focus {
    box-shadow: none !important;
}

.card-body a.btn:hover .btntext {
    color: var(--color-primary);
}

@media screen and (max-width: 767px) {
    .my-card {
        max-width: 60%;
        margin: auto;
        margin-bottom: 30px;
    }
}