.contact-me {
    color: var(--grey-color);
    text-align: center;
    background-color: var(--light-blue);
    padding-top: 5vw;
}

.footer {
    padding-bottom: 15px;
    padding-top: 50px;
}

@media screen and (max-width: 500px) {
    .contact-me {
        padding-top: 10vw;
    }
}