html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #2c3e50 !important;
    --color-secondary: #ffffff !important;
    --grey-color: #696969 !important;
    --light-blue: #f6f8f9 !important;
    --green-color: #00d563 !important;
}

body {
    overflow-x: hidden;
}

* {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Jost', sans-serif;
    letter-spacing: 1.5px;
}