html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #990000 !important;
    --color-secondary: #ffffff !important;
}

body {
    overflow-x: hidden;
}

* {
    font-family: sans-serif;
}